:root {
    --color-primary: #00A769;
    --color-secondary: #90C0A6;
    --color-tertiary: #008554;
    --color-quaternary: #66917a;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    height: 100%;
    @apply transition motion-reduce:transition-none overflow-hidden bg-gray-100 dark:bg-gray-800;
}

a, a:visited {
    @apply transition motion-reduce:transition-none text-primary dark:text-secondary no-underline;
}

a:hover, a:focus {
    @apply text-primary dark:text-secondary underline;
}

.toggle-checkbox:checked {
    @apply right-0 border-secondary;
}

.toggle-checkbox:checked + .toggle-label {
    @apply bg-secondary;
}

.image-enter-to {
    @apply animate-fadeInUp;
}

.image-leave-to {
    @apply animate-fadeOutDown;
}

.light .wave {
    @apply transition motion-reduce:transition-none;
    fill: #F3F4F6;
}

.dark .wave {
    @apply transition motion-reduce:transition-none;
    fill: #1F2937;
}

.bubble {
    @apply transition motion-reduce:transition-none w-full relative text-sm rounded-lg bg-white dark:bg-gray-700 dark:text-white p-6;
    font-family: 'Pangolin', sans-serif;
}

.light .bubble::after {
    @apply transition motion-reduce:transition-none w-0 relative block;
    content: "";
    padding-top: 0px;
    margin-top: -50px;
    bottom: -60px;
    left: 25px;
    border-width: 50px 50px 0 0;
    border-style: solid;
    border-color: #FFFFFF transparent;
    transform: skew(45deg);
    transform-origin: center;
}

.dark .bubble::after {
    @apply transition motion-reduce:transition-none w-0 relative block;
    content: "";
    padding-top: 0px;
    margin-top: -50px;
    bottom: -60px;
    left: 25px;
    border-width: 50px 50px 0 0;
    border-style: solid;
    border-color: #374151 transparent;
    transform: skew(45deg);
    transform-origin: center;
}

.bubble .person {
    @apply absolute hidden;
}

@screen xl {
    .bubble .person {
        @apply block;
        width: 200px;
        top: 255px;
        right: 25%;
    }
}

@screen 2xl {
    .bubble .person {
        @apply block;
        width: 200px;
        top: 205px;
        right: 35%;
    }
}